.wrapper {
  width: 100%;
  height: 100vh;
  padding: 70px 30px 0;

  color: var(--color-black);
  background-color: var(--color-white);

  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
