:root {
  // Colors
  --color-black: #131b23;
  --color-white: #f7f9fb;
  --color-green: #2a7f62;
  --color-brown: #5f464b;
  --color-pink: #e55381;

  // Shadows
  --shadow-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // Spaces
  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
}
